.secContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

.about__page-content{
 
        background-color:#fafafa;
        align-items: center;
        box-shadow: 10px 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: auto;
        border-radius: 5px;
        padding: 2.5rem;
        margin: 12px;
}

.head{
   align-items: center !important;
   font-size: 2rem;
   
   
}
@media only screen and (max-width: 992px) {
  .aboutPage{
    padding-left: 10px;
  }  
  
  .about__page-content h2 {
      font-size: 1.5rem;
    }
    

  }
  
  @media only screen and (max-width: 767px) {
    .about__page-img {
      display: none;
    }
    .about__page-content p {
      font-size: 0.8rem;
    }

    .about__page-content{
            padding: 3rem;
            
    }

    .secContent{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem;
      gap: 2rem;
    }

    .head{
      font-size: 0.9rem; 
   }

  }